/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainTitle {
  @apply text-4xl font-bold;
}
.itemsList {
  @apply flex flex-col gap-6 pb-6 w-[280px];
}
.btnContainer {
  @apply flex gap-2 flex-wrap;
}
.wordPairs {
  @apply flex gap-4 mb-4;
}
.word {
  @apply p-2 text-lg border border-[#a6adbb] rounded;
}
.wrong {
  @apply text-red-400 border-red-400;
}
.guessed {
  @apply text-transparent border-transparent;
}
.selected {
  @apply text-blue-300 border-blue-300;
}
.wordsColumn {
  @apply flex flex-col gap-2;
}
